@font-face {
  font-family: "Stolz Bold";
  src: url("~@/assets/fonts/stolzl_bold.otf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Stolz Book";
  src: url("~@/assets/fonts/stolzl_book.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Stolz Light";
  src: url("~@/assets/fonts/stolzl_light.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Stolz";
  src: url("~@/assets/fonts/stolzl_medium.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Stolz Regular";
  src: url("~@/assets/fonts/stolzl_regular.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Stolz Thin";
  src: url("~@/assets/fonts/stolzl_thin.otf");
  font-style: normal;
  font-weight: 400;
}